* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.continer {
  justify-content: space-around;
  padding: 2rem;
}

.top-header { 
  display: flex;
  justify-content: space-evenly;
}

nav {
  display: flex;
}

.menu {
  display: flex;
  gap: 20px;
  padding-left: 2rem;
}

.contact, .btn {
  color: #fff;
  background-color: rgb(50, 50, 230);
  border-radius: 0.3rem;
  padding: 6px 14px;
}

.btn:nth-child(1) {
  background-color: rgb(26, 152, 26);
}

.bottom_header {
  margin-top: 3rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  align-items: center;
  line-height: 2.5rem;
  /* flex-wrap: wrap; */
}

.left_side {
  flex-basis: 50%;
  padding-right: 3rem;
}

.left {
  max-width: 28rem;
}

.btns {
 padding: 1rem 0;
}

.right_side {
  flex-basis: 50%;
  padding-left: 3rem;
}

.side_img {
  width: 300px;
  height: 300px;
  border-radius: 0.3rem;
}

.work-title {
  text-align: center;
  line-height: 2rem;
}

.work-details {
  display: flex;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.works {
  text-align: center;
  line-height: 2rem;
}

.work-img {
  text-align: center;
  padding-top: 3rem;
}

.sadaf-img {
  width: 30%;
  height: 320px;
  border-radius: 0.5rem;
}

.features {
  background-color: #2C57E4;
  margin-top: 3rem;
}

.person-title {
  text-align: center;
  line-height: 2rem;
  color: #fff;
  padding-top: 2rem;
}

.person-section {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.person-part {
  background-color: #fff;
  max-width: 300px;
  padding: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

.person-detali {
  line-height: 2rem;
}

.portfolio {
  padding-top: 2rem;
}

.portfolio-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3rem;
  gap: 16px;
  padding-top: 3rem;
}

.portfolio-img {
  justify-content: center;
  display: flex;
  flex-basis: 23rem;
  margin-bottom: 2rem;
  overflow: hidden;
  border-radius: 0.3rem;
}

.pro-img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.footer-section {
  display: flex;
  justify-content: space-around;
  padding: 4.5rem;
  flex-wrap: wrap;
  background-color: #2C57E4;
}

h3 {
  color: #fff;
}

input {
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 0.3rem;
}

.end {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
  flex-wrap: wrap;
}